body {
    background-image: url(img-background/flowers-white-pink-peonies-wallpaper-preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 12rem;
}

.text {
    text-align: center;
    margin-top: 13rem;
}

.text p {
    font-size: 3.5rem;
}
.bttom {
margin-right: -2rem;
}

.buton {
    background-color: white;
    color: black;
    font-family: monospace; 
    font-size: 1rem; 
    border-style: none;
}

.buton :hover {
    background-color: black;
    color: white;
    transition: 1s;
}